In [1]:
import numpy as np
import time
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use(['seaborn-dark-palette','dark_background'])
import warnings
warnings.filterwarnings(action = 'ignore')

In [2]:
data = pd.read_csv('Transformed_Housing_Data2.csv')
data.head()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,0,0,1,0,0,0,0,0

## Scaling the dataset

In [3]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
Y = data['Sale_Price']
X = scaler.fit_transform(data.drop(columns = ['Sale_Price']))
X = pd.DataFrame(data = X, columns = data.drop(columns = ['Sale_Price']).columns)
X.describe()

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
count,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04,...,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04,2.160900e+04
mean,-1.525643e-15,7.276618e-15,-3.279856e-16,3.559737e-16,-3.124582e-15,-7.983495e-16,-9.530172e-16,-3.586428e-16,1.320245e-15,-4.283481e-15,...,1.411943e-15,-7.588348e-16,4.332228e-16,6.987258e-15,4.445804e-15,-4.865735e-17,3.863030e-15,-1.265786e-15,1.342556e-15,2.954101e-15
std,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00,...,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00,1.000023e+00
min,-3.624897e+00,-2.746094e+00,-1.949059e+00,-3.521367e-01,-9.153885e-01,-3.057904e-01,-5.991431e+00,-1.809656e+00,-6.586971e-01,-1.497983e+00,...,-8.718076e-02,-3.504812e-01,-4.821575e-01,-4.195998e-01,-4.790935e-01,-2.140863e-01,-2.877116e-01,-1.122739e-01,-1.688497e-01,-4.815825e-02
25%,-3.987242e-01,-4.735997e-01,-7.076704e-01,-2.430175e-01,-9.153885e-01,-3.057904e-01,-5.639925e-01,-7.226445e-01,-6.586971e-01,-8.851681e-01,...,-8.718076e-02,-3.504812e-01,-4.821575e-01,-4.195998e-01,-4.790935e-01,-2.140863e-01,-2.877116e-01,-1.122739e-01,-1.688497e-01,-4.815825e-02
50%,-3.987242e-01,1.756844e-01,-1.849805e-01,-1.807567e-01,1.071432e-02,-3.057904e-01,-5.639925e-01,-2.757621e-01,-6.586971e-01,-1.361717e-01,...,-8.718076e-02,-3.504812e-01,-4.821575e-01,-4.195998e-01,-4.790935e-01,-2.140863e-01,-2.877116e-01,-1.122739e-01,-1.688497e-01,-4.815825e-02
75%,6.766667e-01,5.003265e-01,5.119393e-01,-1.066908e-01,9.368172e-01,-3.057904e-01,3.405806e-01,5.093014e-01,6.066659e-01,6.809153e-01,...,-8.718076e-02,-3.504812e-01,-4.821575e-01,-4.195998e-01,-4.790935e-01,-2.140863e-01,-2.877116e-01,-1.122739e-01,-1.688497e-01,-4.815825e-02
max,3.186300e+01,7.642452e+00,1.247936e+01,3.950148e+01,3.715126e+00,4.913661e+00,2.149727e+00,9.205390e+00,1.023246e+01,2.417225e+00,...,1.147042e+01,2.853220e+00,2.074011e+00,2.383223e+00,2.087275e+00,4.671014e+00,3.475703e+00,8.906787e+00,5.922426e+00,2.076487e+01

## Train/Test set

In [4]:
X = data.drop(columns = ["Sale_Price"])
Y = data['Sale_Price']

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 101)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((15126, 30), (6483, 30), (15126,), (6483,))

## Linear Regression

In [7]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression(normalize = True)
lr.fit(x_train, y_train)

LinearRegression(normalize=True)

In [8]:
predictions = lr.predict(x_test)

In [9]:
lr.score(x_test, y_test)

0.8462355542468778

# Forward selection

In [10]:
def adj_r2( m ,data_y, predictions):
  '''
  m : number of independent variables
  data_y : target variable
  predictions : prediction of the model to be evaluated

  Returns: Adjusted R2
  '''
  from sklearn.metrics import r2_score
  R = r2_score(data_y, predictions)
  n = len(data_y)
  adj_R = 1 - ((1-R)*(n-1))/(n-m-1)
  return adj_R

In [11]:
def return_r2(X, Y, model):
  '''
  X : independent variables
  Y : target variable
  model : predictive model

  Returns: Adjusted R2 corresponding to the model
  '''
  model.fit(X, Y)
  pred = model.predict(X)
  m = len(X.columns)
  r2 = adj_r2(m, Y, pred)
  return r2

### Forward selection with bug

In [12]:
def forward_selection(model, X, Y, max_features):
  '''
  X : independent variables
  Y : target variable
  model : predictive model
  max_features : selects best feature upto max_features value

  Returns: 
  Rmax : Adjusted R2 of the final model
  history : list of Rmax at every new independent variable added to the model
  x[f_col] : best features upto max_features
  '''
  
  f_col = []
  history = []
  
  for i in range(max_features):
    #k = f_col[:]
    #print(k)
    f_col.append('blank')
    tmp = f_col[:]
    Rmax = -1

    for var in X.columns:
      tmp[-1] = var
      r2 = return_r2( X[tmp] , Y, model)
      if r2 >= Rmax:
        Rmax = r2
        f_col[-1] = var
        elim = var
  
    print("Selected",f_col[-1],"with new r2 =",Rmax)
    history.append(Rmax)

  return Rmax, history, X[f_col]

In [13]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression(normalize = True)

# calculating time taken
tick = time.time()
score, history, sel_data = forward_selection(lr, x_train, y_train, 30)
tock = time.time()

Selected Flat Area (in Sqft) with new r2 = 0.4825106645259518
Selected Latitude with new r2 = 0.6158682713046579
Selected Overall Grade with new r2 = 0.6693250844517911
Selected Age of House (in Years) with new r2 = 0.7101671809322653
Selected Zipcode_Group_Zipcode_Group_8 with new r2 = 0.735965980189696
Selected Zipcode_Group_Zipcode_Group_6 with new r2 = 0.7513359472574557
Selected No of Times Visited with new r2 = 0.7665054219574295
Selected Zipcode_Group_Zipcode_Group_4 with new r2 = 0.7765839357842506
Selected Zipcode_Group_Zipcode_Group_7 with new r2 = 0.7867385851118126
Selected Zipcode_Group_Zipcode_Group_3 with new r2 = 0.7966330954041452
Selected Zipcode_Group_Zipcode_Group_5 with new r2 = 0.8135013723628122
Selected Zipcode_Group_Zipcode_Group_9 with new r2 = 0.8192910381878413
Selected Zipcode_Group_Zipcode_Group_2 with new r2 = 0.82429217078267
Selected Longitude with new r2 = 0.8266049066242158
Selected Basement Area (in Sqft) with new r2 = 0.8295620645811876
Selected Condition_of_the_House_Excellent with new r2 = 0.8318506623682477
Selected Lot Area (in Sqft) with new r2 = 0.8339600690154836
Selected Zipcode_Group_Zipcode_Group_1 with new r2 = 0.8356698063157928
Selected Waterfront_View_Yes with new r2 = 0.8371253089016231
Selected Living Area after Renovation (in Sqft) with new r2 = 0.8384257980145962
Selected No of Bathrooms with new r2 = 0.8394089149738739
Selected Ever_Renovated_Yes with new r2 = 0.8399491254999182
Selected Years Since Renovation with new r2 = 0.8404605503169835
Selected Condition_of_the_House_Good with new r2 = 0.8407704362899256
Selected Condition_of_the_House_Fair with new r2 = 0.8409159992800564
Selected No of Bedrooms with new r2 = 0.8410610037918913
Selected Lot Area after Renovation (in Sqft) with new r2 = 0.8411171250786781
Selected No of Floors with new r2 = 0.8411623663620638
Selected Condition_of_the_House_Okay with new r2 = 0.8411797446658431
Selected Area of the House from Basement (in Sqft) with new r2 = 0.8411713183817104

In [14]:
print('time take to complete forward selesction with bug:', tock-tick)

time take to complete forward selesction with bug: 23.058855772018433

### Forward Selection without bug

In [15]:
def forward_selection(model, X, Y, max_features):
  '''
  X : independent variables
  Y : target variable
  model : predictive model
  max_features : selects best feature upto max_features value

  Returns: 
  Rmax : Adjusted R2 of the final model
  history : list of Rmax at every new independent variable added to the model
  x[f_col] : best features upto max_features
  '''
  f_col = []
  history = []
  
  for i in range(max_features):
    k = f_col[:]
    #print(k)
    f_col.append('blank')
    tmp = f_col[:]
    Rmax = -1

    for var in X.drop(columns = k).columns:
      tmp[-1] = var
      r2 = return_r2( X[tmp] , Y, model)
      if r2 >= Rmax:
        Rmax = r2
        f_col[-1] = var
        elim = var
  
    print("Selected",f_col[-1],"with new r2 =",Rmax)
    history.append(Rmax)

  return Rmax, history, X[f_col]

In [17]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression(normalize = True)

# calculating time taken
tick = time.time()
score, history, sel_data = forward_selection(lr, x_train, y_train, 30
                                            )
tock = time.time()

Selected Flat Area (in Sqft) with new r2 = 0.4825106645259518
Selected Latitude with new r2 = 0.6158682713046579
Selected Overall Grade with new r2 = 0.6693250844517911
Selected Age of House (in Years) with new r2 = 0.7101671809322653
Selected Zipcode_Group_Zipcode_Group_8 with new r2 = 0.735965980189696
Selected Zipcode_Group_Zipcode_Group_6 with new r2 = 0.7513359472574557
Selected No of Times Visited with new r2 = 0.7665054219574295
Selected Zipcode_Group_Zipcode_Group_4 with new r2 = 0.7765839357842506
Selected Zipcode_Group_Zipcode_Group_7 with new r2 = 0.7867385851118126
Selected Zipcode_Group_Zipcode_Group_3 with new r2 = 0.7966330954041452
Selected Zipcode_Group_Zipcode_Group_5 with new r2 = 0.8135013723628122
Selected Zipcode_Group_Zipcode_Group_9 with new r2 = 0.8192910381878413
Selected Zipcode_Group_Zipcode_Group_2 with new r2 = 0.82429217078267
Selected Longitude with new r2 = 0.8266049066242158
Selected Basement Area (in Sqft) with new r2 = 0.8295620645811876
Selected Condition_of_the_House_Excellent with new r2 = 0.8318506623682477
Selected Lot Area (in Sqft) with new r2 = 0.8339600690154836
Selected Zipcode_Group_Zipcode_Group_1 with new r2 = 0.8356698063157928
Selected Waterfront_View_Yes with new r2 = 0.8371253089016231
Selected Living Area after Renovation (in Sqft) with new r2 = 0.8384257980145962
Selected No of Bathrooms with new r2 = 0.8394089149738739
Selected Ever_Renovated_Yes with new r2 = 0.8399491254999182
Selected Years Since Renovation with new r2 = 0.8404605503169835
Selected Condition_of_the_House_Good with new r2 = 0.8407704362899256
Selected Condition_of_the_House_Fair with new r2 = 0.8409159992800564
Selected No of Bedrooms with new r2 = 0.8410610037918913
Selected Lot Area after Renovation (in Sqft) with new r2 = 0.8411171250786781
Selected No of Floors with new r2 = 0.8411623663620638
Selected Condition_of_the_House_Okay with new r2 = 0.8411797446658431
Selected Area of the House from Basement (in Sqft) with new r2 = 0.8411713183817104

In [ ]:
#print('time take to complete forward selection with bug:', tock-tick)

## Conclusion
After removing the bug we can clearly see that the time taken to run the forward selection was reduced by the factor of 2.5 times. Which is a very significant drop in the runtime.